:root {
    --primary-text-color: #212121;
    --paragraph-text-color: #757575;
    --accent-color: #2196F3;
}

.page {
   background-color: #FFFFFF;
   color: #212121;
}
.list {
    list-style: none;
}
/* Шапка сторінки */

/* Навігація */
.logo-first {
    color: #2196F3;
}
.logo-second {
    color: #000000;
}

.nav-mail,
.nav-phone {
    color: #757575;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
.logo-first:hover,
.logo-second:hover,
.logo-first:focus,
.logo-second:focus {
    color: #2196F3;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color:#2196F3;
}

.site-nav .link.current{
    color: #2196F3;
}
/* Унікальний контент сторінки */

/* Секція перша */
.main-section {
    background-color: #757575;
    color: #FFFFFF;
}
.main-slogan {
    
}

/* Кнопка */

.main-section .button {
    background-color: #2196F3;
    color: #FFFFFF;  
}

/* Секція друга */
.company-advantage {
    color: #757575;
}

/* Секція четверта */
.company-team {
    background-color: #F5F4FA;
}
.team-specialty {
    color: #757575;
}

/* Підвал сторінки */
.footer {
    background-color: #2F303A;
}
.logo-first-footer {
    color: #2196F3;
}
.logo-second-footer {
    color: #FFFFFF;
}
.logo-first-footer:hover,
.logo-second-footer:hover,
.logo-first-footer:focus,
.logo-second-footer:focus {
color: #2196F3;
}


.physical-address {
    color: #FFFFFF;
}
.contact-address {
    color: #FFFFFF;
}
.physical-address:hover,
.physical-address:focus {
    color: #2196F3;
}
.contact-address:hover,
.contact-address:focus {
    color:#2196F3;
} 

/* Портфоліо */

/* Кнопки у портфоліо */
.portfolio-nav .button {
    background: #F5F4FA;
}
.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
    background: #2196F3;
    color: #FFFFFF;
}
.portfolio-description {
 color:#757575   
}